<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Backend Database Interface (EC2)</title>
  </head>
  <script>
    var link = document.getElementById("aws");
    link.href="http://localhost:5000/";
  </script>
  <body>
    <h1>Backend Database Interface</h1>
    <h3>Users</h3>
    <ul>
      <li>
        <a target="_blank" id="aws" href="/professors">Professors</a>
      </li>
      <li>
        <a target="_blank" id="aws" href="/employers">Employers</a>
      </li>
      <li>
        <a target="_blank" id="aws" href="/students">Students</a>
      </li>
    </ul>
    <h3>Public Tables</h3>
    <ul>
      <li>
        <a target="_blank" id="aws" href="/student_cards">Student Cards</a>
      </li>
      <li>
        <a target="_blank" id="aws" href="/job_cards">Job Cards</a>
      </li>
    </ul>
    <h3>Developer Tools</h3>
    <ul>
      <li>
        <a target="_blank" id="aws" href="/reset-database">HARD RESET DATABASE TABLES</a>
      </li>
    </ul>
  </body>
</html>
