/*
Author: Jose Gonzalez
File: Search.css
Styling for the following pages:
  1. StudentSearch.js
  2. StudentCard.js
  3. JobSearch.js
  4. JobCard.js
*/

/* ======= GRID LAYOUT ======= */
.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 1.5fr;
  gap: 0px 0px;
  grid-template-areas:
    "header header"
    "filter results";
}

/* Search bar */
.header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  grid-area: header;
}

/* Search filters */
.filter {
  grid-area: filter;
  max-width: 250px;
  min-width: 220px;
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
  border-right: solid;
  border-right-color: #eee !important;
}

/* Results of the search */
.results {
  grid-area: results;
  background-color: rgba(0, 0, 0, 0.03);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, 340px) !important;
  grid-template-rows: repeat(auto-fill, 185px) !important;
  padding-left: 1rem;
  min-height: 100vh;
}

/* ======= SEARCH BAR STYLING ======= */

#search-students .mb-3 {
  width: 70%;
  margin-right: 20px;
}

/* Search Bar */
.search-bar,
.search-prepend {
  background-color: #eee;
  border-style: none;
  height: 45px;
}

.search-prepend {
  font-weight: 600;
}

.search-bar:focus {
  background-color: #eee;
  border-style: none;
}

/* Search button for students & job search */
.search-btn {
  width: 30%;
  background-color: #efe271;
  color: #2b2b2b;
  border-style: none;
  height: 45px;
}

.search-btn:hover,
.search-btn:focus,
.flex-box Button {
  background-color: #2b2b2b !important;
  color: #fff !important;
  border-style: none;
}

/* ======= Filter Styling ======= */

.filter,
.results {
  border-top: solid;
  border-color: #eee;
  border-width: thin;
  padding-top: 1rem;
}

/* resizes the filter cards (overwrites bootstrap styling)  */
.card-header,
.card-body {
  font-size: 85%;
  border-bottom: none;
}

/* Cards (overwrites bootstrap styling) */
.card {
  border-style: none;
}

/* Resizes placeholders */
.filter ::placeholder {
  font-size: 75%;
}

#filter-jobs,
#filter-students {
  font-size: 18px;
}

.form-check .form-check:checked {
  background-color: black !important;
}
/* Adds bottom margin to Student Year checkbox labels */
.filter .form-check {
  margin-bottom: 0.5rem;
}

.filter h4 {
  padding-left: 1rem;
  font-weight: 600;
  font-size: 125%;
}

/* Active Filters */
.active-filter-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.active-filter {
  margin: 2px;
  padding: 2px 5px 2px 10px;
  background: #efe271;
  display: inline;
  border-radius: 25px;
}

.active-filter span {
  display: inline-flex;
  white-space: nowrap;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active-filter button {
  height: 18px;
  width: 18px;
  display: inline-block;
  border-radius: 50%;
  border: none;
  background-color: #2b2b2b;
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
  font-weight: 600;
}

/* ======= STUDENT & JOB CARD STYLING ======= */

#search-jobs,
#search-students {
  display: flex;
  max-width: 1000px;
  margin: 0 auto 0 auto;
  padding: 1rem;
}

/* Eliminates added margin by react bootstrap */
.mb-3 {
  margin-bottom: 0 !important;
}

.card-result {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #bdbdbd;
  margin: 1%;
  height: 175px !important;
}

.card-result .flex-box {
  display: flex;
  width: 100%;
}

.card-result header {
  padding-top: 1rem;
  display: flex;
}

.card-result header img {
  object-fit: cover;
  max-height: 80px;
}

.card-result .info {
  width: 100%;
}

.card-result .info h4 {
  font-size: 100%;
  font-weight: 600;
}

.card-result .info h6 {
  font-size: 90%;
}

.card-result .info .gpa {
  color: #61adcf;
  font-weight: bold;
  padding-right: 1rem;
  font-size: 90%;
}

.card-result .info #progress-bar {
  margin-top: 1px;
}

.card-result .info #no-rating {
  color: rgba(0, 0, 0, 0.4);
}

.name-enrollment {
  justify-content: space-between;
  margin-bottom: -10px;
}

#enrollment {
  background-color: #efe271;
  padding: 1px 6px 1px 6px;
  border-radius: 5px;
  font-size: 80%;
  margin-right: 1rem;
  width: 5.5rem;
  height: 1.5rem;
  text-align: center;
}

#salary {
  background-color: #66d99d;
  padding: 1px 6px 1px 6px;
  border-radius: 5px;
  font-size: 80%;
  margin-right: 1rem;
  margin-top: -0.2rem;
  width: 5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: 600;
}

.card-result Button {
  margin: 1rem;
}

.flex-box button:hover,
.flex-box button:focus {
  background-color: #efe271 !important;
  color: #2b2b2b !important;
  border-style: none;
}

#location {
  width: 1rem;
  margin-top: -0.2rem;
  margin-right: 0.5rem;
}
